In [1]:
2+3    # Click on run

5

In [2]:
2+3    # press shift+ enter together to excecute cell

5

In [3]:
2+3   # Press control+enter

5

In [4]:
2*3

6

In [5]:
2**2

4

In [6]:
2/3

0.6666666666666666

In [7]:
2-3

-1

In [8]:
2>3   # comparison   True and False are Boolean variable

False

In [9]:
2<3  # comparison

True

In [10]:
a = 5 
b = 3
c = a+b
c

8

In [11]:
print('The value is :',c)

The value is : 8

# Math Functions

In [12]:
# squareroot  value of e value of pi

In [13]:
import math  # Import math library

In [14]:
#dir(math)
#m.pow(2,4)
2**4

16

In [15]:
math.e

2.718281828459045

In [16]:
math.pi

3.141592653589793

In [17]:
import math as m

In [18]:
m.e

2.718281828459045

In [19]:
m.pi

3.141592653589793

In [20]:
r = 4  # radius of circle 
A = m.pi*r*r
print("Area of cirle is = ",A)

Area of cirle is =  50.26548245743669

In [21]:
m.sqrt(2)

1.4142135623730951

In [22]:
m.inf  # infinity

inf

In [23]:
-m.inf

-inf

In [24]:
1/0

ZeroDivisionError: division by zero

In [ ]:
0/0

In [ ]:
# Factorial of number 
x=5                       # 5*4*3*2*1 = 120
m.factorial(x)

In [ ]:
# Absolute value of number |-5| = 5 # donot require math library
a = -10
b= abs(a)

In [ ]:
b

In [ ]:
a = -10
b= m.abs(a)

In [ ]:
a = -10
b= m.fabs(a)
b

In [ ]:
a = 3
b= m.sqrt(3)
b

# Play with Strings

In [ ]:
a = "Hello World!"
print(a)

In [ ]:
# We calculate length of a
len(a)

In [ ]:
type(a)

In [ ]:
x= 5

In [ ]:
type(5)

In [ ]:
x = 0.2

In [ ]:
type(x)

In [ ]:
a,b = 3,4  # We can define more than 1 variable in a single line

In [ ]:
c = a+b
c

In [ ]:
a,b,c= 1,2,3

In [ ]:
x=a+b+c

In [ ]:
x

In [ ]:
import keyword as kw

print(kw.kwlist)

print("Total number of keywords ", len(kw.kwlist))

In [ ]:
and = 5   # dont use key word in python for variable name

In [ ]:
x = 3

print(id(x))   # Print the location of variable x whare it is stored

In [ ]:
# Play with strings
s = "Machine Learning"
print(type(s))
print(s)

In [ ]:
s[2]

In [ ]:
s[3:7]

In [ ]:
s[-1]

In [ ]:
floor(12.3)

In [ ]:
m.floor(12.3)

In [ ]:
m.ceil(12.3)

# Input

In [ ]:
a = input("enter a number :")   
print("What is your name ?")
name= input()
print("Your name is " + name)

# Primitive Data Type

In [ ]:
# Integer Float String Boolean Complex

In [ ]:
1,2,3 ,-2,-4,0   # integers

In [ ]:
1.1,2.0,3.6  # Floats

In [ ]:
print(type(1))
print(type(-3))
print(type(2.3))
print(type("1.3"))

In [ ]:
'1','abc','3.6' # Strings

In [ ]:
True,False, 1==2, 3.2==3.2 , 6>0 # Boolean

In [ ]:
complex("1+2j")+complex("2+6j") # Complex i we use in python we use j

In [ ]:
a,b,c = 1,2,3
d=[a,b,c]
d

In [ ]:
a = 3 
b= 5
a,b = b,a
print(a,b)

# Data Type conversion

In [ ]:
# you can convert a value into a string using str()
a= str(3)
print(type(a))
print(a)

In [ ]:
# you can convert a value into a integer using int()
a= int(3.45)
print(type(a))
print(a)

In [ ]:
# you can convert a value into a float using float()
a= float(5)
print(type(a))
print(a)

In [ ]:
a = 5
print(type(a))
print(a)

# Numerical Operators

In [ ]:
# x+y x-y x*y x/y x//y x%y abs(x) +x -x x**y

In [ ]:
a,b = 'Milan',' Joshi'
c = a+b
print(c)

In [ ]:
x = -30; y= 2.1

print(str(x) +  "+"  + str(y) +  "=" , x+y)                   # -30 + 2.1 = -27.9

In [ ]:
print(str(x) +  "-"  + str(y) +  "=" , x-y)
print(str(x) +  "*"  + str(y) +  "=" , x*y)
print(str(x) +  "/"  + str(y) +  "=" , x/y)
print(str(x) +  "//"  + str(y) +  "=" , x//y) # Integer close but not greater
print(str(x) +  "%"  + str(y) +  "=" , x%y) # Remiander 
print("abs(-30) = " , abs(x))

# Assignment Operators

In [ ]:
 # Operators
#x+=y ====> x = x+y
#x-=y ====> x = x-y
# x*=y ===> x = x*y
#x/=y ===> x = x/y
# x%=y ===> x = x%y

In [ ]:
x = -30 ; y = 2.1 
x-=y     # x = x-y
print(x)

# Compariosn operators

In [ ]:
# a==b , a!=b (n a not equal to b) a <b , a>b, a<= b,a>=b

In [ ]:
23 == 23.0

In [ ]:
23==23.5

23 == "23"

In [ ]:
23<=23.5

In [ ]:
"23"=="23"

# Bitwise operastors

In [ ]:
# x&y ( Bitwise and)
# x|y ( Bitwise or)
#x^y (Bitwise XOR)
# ~x ( Bitwise Inversion)
# x >> y Bitwise shift right will return x with thr bits shifted to the right by y places
#2 ==> 010
# 5 ==>101
# 0 ===>000

In [ ]:
x , y = 2,5

In [ ]:
2 & 5

In [ ]:
2|5

In [ ]:
2^5

# Logical Operators

In [ ]:
not True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
'bad' in 'apple has a good taste'

In [ ]:
a = 4
b=5
a is b

# Flow Control

- Decision / branching the flow 
- if 
- if-else
- if -else-if

In [ ]:
a =23 
if a == 23:
    print("It is my number !")

In [ ]:
a = 'Helloo'
if a == 'Hello' :
    print('Good Morning !')
else:
    print('Good Afternoon')

In [ ]:
x = -231.12
print(x)
if float(x)<0:
    print("Negative Number")
elif float(x) == 0:
    print('zero')
else:
    print('positive number')

In [ ]:
2==3

In [ ]:
#Take two numbers a , b 
#write if conditon to compare b>a
#print('b is greater than a')

# Loop

In [ ]:
# The following flow control are used top repeat or to iterate in python
# range 
# for
# while

In [ ]:
# The following statements are useful to break or continue the loop 
# break
#continue

In [ ]:
list(range(1,10,2)) # range(start,end,step)

In [ ]:
list(range(1,5,2))

In [ ]:
list(range(2,5)) # Return the elements upto end-1

In [ ]:
list(range(2,10))

In [ ]:
list(range(5))

# For-In Loop

In [ ]:
fruits = [ 'apple','banana','cherry','grapes']
for x in fruits:
    print(x,len(x))

In [ ]:
for k in range(5):
    print(k)

In [ ]:
# Odd/Even between 1 to 20

for num in range(1,20):
    if num%2 ==0:
        print(num,'is an even number')
    #else:
        continue
    print(num, 'is an odd number')

In [ ]:
# This progarmm calulate prime numbers , If number is not prime what are the factors
for n in range(2,20):
    for x in range(2,n):
        if n % x ==0:
            print(n,'equals',x, '*', n//x)
            break
            
    else :
        print(n, 'is a prime number')

In [ ]:
list(range(2,2))

In [ ]:
list(range(2,3))

In [ ]:
list(range(2,4))

# while Loop

In [ ]:
a= 0
while a <5:
    print(a)
    a=a+1

In [25]:
a = 0
while True:
    if a>= 5:
        break
    else: 
        a+=1 # a= a+1
        print(a)

1
2
3
4
5

# List Comprehension

In [33]:
# Print squares of all numbers up to 10 
for num in range(11):
    print(num,'Square is ', num*num)

0 Square is  0
1 Square is  1
2 Square is  4
3 Square is  9
4 Square is  16
5 Square is  25
6 Square is  36
7 Square is  49
8 Square is  64
9 Square is  81
10 Square is  100

In [31]:
square = [x*x for x in range(11)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
[x  for x in square if x%2==0]

[0, 4, 16, 36, 64, 100]

# Data structure in Python

1. List
2. Tuple
3. Dictonary
4. Set
5. String

In [37]:
x = [1,2,3]
x

[1, 2, 3]

In [40]:
x = [1, 'milan',2]
x

[1, 'milan', 2]

In [42]:
x = [True, 1.2,-3, 'XYZ']

In [43]:
x

[True, 1.2, -3, 'XYZ']

In [44]:
# Slice the List
x = [1,2,3,'Milan'] # indesed form 0 to 3 and length is 4

In [45]:
x[1]

2

In [46]:
x[0]

1

In [47]:
x[4]

IndexError: list index out of range

In [48]:
x[3]

'Milan'

In [49]:
len(x)

4

In [54]:
x = [1,2,3,4]
for num in x:
    print(num)

1
2
3
4

In [55]:
[ num for num in x]

[1, 2, 3, 4]

# List of List

In [56]:
x = [[1,2,3],['Milan','prem','sharad']]

In [57]:
x

[[1, 2, 3], ['Milan', 'prem', 'sharad']]

In [58]:
x[0]

[1, 2, 3]

In [59]:
x[1]

['Milan', 'prem', 'sharad']

In [60]:
x[0][0]

1

In [61]:
x[0][1]

2

In [62]:
len(x)

2

In [66]:
x = [1,2,3,4]
y = 4*x
y

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [73]:
x= ['Hello','bolo']
#y = 4*x
#y

In [74]:
[4*num for num in x]

['HelloHelloHelloHello', 'bolobolobolobolo']

In [68]:
for num in x:
    print(4*num)

4
8
12
16

In [75]:
x = [1,2,3,4]

In [76]:
x[0]= 'milan'
x

['milan', 2, 3, 4]

In [80]:
x[2]= 'raju'
x

['milan', 2, 'raju', 'raju']

In [81]:
x.append(5)

In [82]:
x

['milan', 2, 'raju', 'raju', 5]

In [83]:
a = [1,2,3,4]
a.append(55)

In [84]:
a

[1, 2, 3, 4, 55]

In [85]:
del(a[1])

In [86]:
a

[1, 3, 4, 55]

In [87]:
#del(a[2:3])

In [88]:
a

[1, 3, 55]

In [89]:
a = [1,2,4,5,3,78,89,90,23]
a[4:7]

[3, 78, 89]

In [106]:
a = [1,2,3,77,78,59,50,100,45]
#a.remove(100,77)
#[a.remove(num) for num in a if (num == 77 & num == 100)]
x = [100,77]
[num for num in a if num not in x ]

[1, 2, 3, 78, 59, 50, 45]

In [104]:
 for num in a :
    if num not in unwanted_number:
        print(num)

1
2
3
78
59
50
45

In [1]:
l = [1,2,3,4.5,"milan",True] # l=[l[0],l[1],l[2],l[3],l[4],l[5]] , l[3]=4.5  4th element in the list

In [2]:
l

[1, 2, 3, 4.5, 'milan', True]

In [3]:
len(l)

6

In [4]:
l[3]

4.5

In [7]:
[ele for ele in l]

[1, 2, 3, 4.5, 'milan', True]

In [8]:
for ele in l:
    print(ele)

1
2
3
4.5
milan
True

In [9]:
x = [1,2,3,4]
y = [5,6,7,8]

In [12]:
for i in x:
    for j in y:
        print(i+j)

6
7
8
9
7
8
9
10
8
9
10
11
9
10
11
12

In [13]:
[i+j  for i in x for j in y]  # set addition

[6, 7, 8, 9, 7, 8, 9, 10, 8, 9, 10, 11, 9, 10, 11, 12]

In [ ]:
x=[1,2,3,4] + y=[5,6,7,8] = [6,8,10,12] # Componentwise addition

In [16]:
for i in range(len(x)):  # [0,1,2,3]
    print(x[i]+y[i])

6
8
10
12

In [17]:
list(range(len(x)))

[0, 1, 2, 3]

In [18]:
[x[i]+y[i] for i in range(len(x))]

[6, 8, 10, 12]

In [ ]:
#list.append()
#list.extend()
#list.insert()
#list.remove()
#list.pop()

In [45]:
x = [1,2,5,6]

In [20]:
x[2]

5

In [21]:
x[-1]

6

In [32]:
print(x[::-1])

[6, 5, 2, 1]

In [44]:
x.reverse()
print(x)

[6, 5, 2, 1]

In [46]:
x.sort()
x

[1, 2, 5, 6]

In [47]:
l= [4,3,7,100]
l.sort()
l

[3, 4, 7, 100]

In [50]:
a= [ 1,2,3,4,3,3,4,3] # how many times it is repated 
a.count(3)

4

In [64]:
x= ['a','b','c','d']
y= [1,2,3,4]x = 
z = [ 3,5,6,7]
list(zip(x,y,z))  #-----> (a,1)(b,2)

[('a', 1, 3), ('b', 2, 5), ('c', 3, 6), ('d', 4, 7)]

In [65]:
x= ['a','b','c','d']
y= [1,2,3,4]

In [71]:
for i in x:          # i = a j = 1 zip(a,1)
    for j in y:             i =a 
        zip(x[i],y[j])

TypeError: list indices must be integers or slices, not str

In [78]:
for i,j in zip(x,y):
        print(x,y)

['a', 'b', 'c', 'd'] [1, 2, 3, 4]
['a', 'b', 'c', 'd'] [1, 2, 3, 4]
['a', 'b', 'c', 'd'] [1, 2, 3, 4]
['a', 'b', 'c', 'd'] [1, 2, 3, 4]

In [79]:
[[i,j] for i,j in zip(x,y)]

[['a', 1], ['b', 2], ['c', 3], ['d', 4]]

In [73]:
for i in range(len(x)):
       zip(x[i],y[i])

TypeError: 'int' object is not iterable

In [80]:
x = [1,2,3,4]
y=x.copy()

In [81]:
y

[1, 2, 3, 4]

In [82]:
y[0]=12
y

[12, 2, 3, 4]

In [83]:
x

[1, 2, 3, 4]

In [84]:
x = [1,2,3,4]
y =x 
y[0]=100
y

[100, 2, 3, 4]

In [85]:
x

[100, 2, 3, 4]

# Tuple

In [86]:
x = (1,2,3,4)

In [87]:
print(x)

(1, 2, 3, 4)

In [88]:
x[0]=23

TypeError: 'tuple' object does not support item assignment

In [90]:
for i in x :
    print(i)

1
2
3
4

In [91]:
x = (1,2,"milan",1.2)

In [92]:
x

(1, 2, 'milan', 1.2)

In [93]:
x = ('Hello')
x *4

'HelloHelloHelloHello'

In [94]:
y = {1,2,3,4} # Set data structure    [], (),{}

In [95]:
type(y)

set

In [96]:
z = tuple(y)

In [97]:
z

(1, 2, 3, 4)

In [98]:
z[0]

1

In [99]:
z[-1]

4

In [104]:
z[1:3] # print upto  3-1

(2, 3)

# Dictonary

- Key value pair

In [127]:
x = {'A':3,'B':4} # A is called key and 3 is called its value 

type(x)

dict

In [128]:
x

{'A': 3, 'B': 4}

In [129]:
x['A']= 100

In [130]:
x

{'A': 100, 'B': 4}

In [112]:
x['B']

4

In [118]:
d = {'fruit':'apple','color':'sweet','taste': 'sweet'}

In [119]:
type(d)

dict

In [131]:
d['color']='green'

In [132]:
d

{'fruit': 'apple', 'color': 'green', 'taste': 'sweet'}

In [133]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [139]:
d.keys()

dict_keys(['fruit', 'color', 'taste'])

In [140]:
d.items()

dict_items([('fruit', 'apple'), ('color', 'green'), ('taste', 'sweet')])

In [141]:
d.values()

dict_values(['apple', 'green', 'sweet'])

In [142]:
for k in d.keys():
    print(k)

fruit
color
taste

In [143]:
for k in d.values():
    print(k)

apple
green
sweet

In [144]:
for k in d.keys():
    for l in d.items():
        print(k,l)

fruit ('fruit', 'apple')
fruit ('color', 'green')
fruit ('taste', 'sweet')
color ('fruit', 'apple')
color ('color', 'green')
color ('taste', 'sweet')
taste ('fruit', 'apple')
taste ('color', 'green')
taste ('taste', 'sweet')

In [148]:
for k in d.keys(),d.values():
    print(k)

dict_keys(['fruit', 'color', 'taste'])
dict_values(['apple', 'green', 'sweet'])

In [156]:
d = {1:'a',2:'b'}
print(d.items())
print(d.keys())
print(d.values())

dict_items([(1, 'a'), (2, 'b')])
dict_keys([1, 2])
dict_values(['a', 'b'])

In [158]:
'a' in d.values()

True

In [160]:
'a' not in d.keys()

True

In [177]:
d = {'A':20,'B':30,'C':50}

In [180]:
del d

SyntaxError: cannot delete function call (<ipython-input-180-0c267043dbed>, line 1)

In [179]:
d

NameError: name 'd' is not defined

In [167]:
del d['A']

In [168]:
d

{'B': 30, 'C': 50}

In [181]:
l = [1,2,3,4]

In [182]:
type(l)

list

In [183]:
len(l)

4

In [184]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [185]:
l.sort()

In [186]:
l

[1, 2, 3, 4]

In [187]:
len(l)

4

In [191]:
#datastructure.attribute()
#function(datastructre)
l = [34,67,3,68]
l.sort()
print(l)

print(len(l))

[3, 34, 67, 68]
4

In [ ]:
# Python
# Numpy pandas scipy matplotlib os seaborn 
# mathematics for data science 
# statitics for data science 
# ML-I Exploratory data analysis and Regression 
# ML-II classifcation logistic regression naive bayes algorithm decison trees knn  random forest bossting bagging
# ML-III clustering k means Hierarchichal DBSCAN tSNE
# DL- MLP CNN RNN ( LSTM , GRU) 
# projects 
# NLP ( BERT Transformer XLnet BART )
# Computer vision 
# Big Data hadoop Spark

In [3]:
#fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
subjects = {}.fromkeys(['Math', 'English', 'Hindi'], 0)
print(subjects)

{'Math': 0, 'English': 0, 'Hindi': 0}

# Dict Comprehension

In [5]:
d = {'a': 1, 'b': 2, 'c': 3}   # d = {item1-"key1:value1",item2-"key2:value2",....}
for x in d.items():
    print(x)

('a', 1)
('b', 2)
('c', 3)

In [7]:
#Creating a new dictionary with only pairs where the value is larger than 2
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() }
print(new_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v > 2}
print(new_dict)

{'c': 3, 'd': 4}

In [10]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

In [11]:
d = {'a':[1,2,3],'b':['M',1.2]}

In [12]:
type(d)

dict

In [14]:
d.items()

dict_items([('a', [1, 2, 3]), ('b', ['M', 1.2])])

In [15]:
d.keys()

dict_keys(['a', 'b'])

In [16]:
d.values()

dict_values([[1, 2, 3], ['M', 1.2]])

In [19]:
{k:v for k,v in d.items()}

{'a': [1, 2, 3], 'b': ['M', 1.2]}

# Set

In [20]:
A = { 1,2,3}

In [21]:
type(A)

set

- Union
- intersection 
- difference 
- Symmetric Difference

In [28]:
A = {1,2,3,4,'b'}
B = {4,'a',1.2,'b'}
print(A|B)   # A union B
print(A&B)   # A intersection B
print(A-B)   # print all elements of A which are not in B {1,2,3}
print(B-A)

{1, 2, 3, 4, 1.2, 'a', 'b'}
{4, 'b'}
{1, 2, 3}
{1.2, 'a'}

In [29]:
x= A-B
y= B-A
print(x|y)

{1, 2, 3, 1.2, 'a'}

In [45]:
#![set_operation](C:/Users/Milan Amrut Joshi/OneDrive/Desktop/set_operation.png) # importing

'[set_operation]' is not recognized as an internal or external command,
operable program or batch file.

# Functions in Python

- Function is a mini programm that consist of several statement and call them as single function name 
- Functions can receive no argument or number of arguments 
- Function can return a value following the key word return or yield 
- Function as a blackbox that receives input and produces output

In [46]:
#f(x) = x^2
#f(2)= 2^2 =4

In [ ]:
# f(a,b)=a+b
# f(2,3)=2+3

In [47]:
def f(a,b):
    return a+b
f(2,3)

5

In [51]:
def f(a,b):
    return a*b 
f(2,3)

6

In [53]:
def square(x):
    return x*x
square(45)

2025

In [54]:
def f():
    a=3
    b=4
    c=5
    return a,b,c

x,y,z = f()
w=[x,y,z]
w

[3, 4, 5]

In [64]:
def f(a,b=3.2, c= True):
     if c:
        return a+b
f(5)

8.2

# Global variable

In [66]:
a = 5
def g():
    b = a+2
    return b
g()

7

In [71]:
# Write a function that takes 3 inputes and add cube of 

def f(a,b,c):
    return a*a*a+b*b*b+c*c*c
f(2,3,4)

99

In [81]:
# Study this code properly 
def HCF(a, b):
    """
    Computing HCF of two numbers
    """
    smaller = b if a > b else a  #consice way of writing if else statement
    
    hcf = 1
    for i in range(1, smaller+1):
        if (a % i == 0) and (b % i == 0):
            hcf = i
    return hcf

In [82]:
HCF(12,56)  # 1,2,4

4

In [83]:
# 12 and 56 smaller number 
# 12 
# hcf =1

In [84]:
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")

In [86]:
evenOdd(14)

even