<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="New_GL_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Faculty Notebook <br> (Day 1) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Python Variables](#variables)**
2. **[Data Types](#type)**
    - 2.1 - [Numbers](#num)
    - 2.2 - [Strings](#str)
    - 2.3 - [Boolean](#bool)
3. **[Type Conversion](#typecon)**
4. **[Python print()](#print)**
5. **[User Input](#uinput)**
6. **[Python Operators](#oper)**
    - 6.1 - [Arithmetic Operator](#arith)
    - 6.2 - [Comparison Operator](#comp)
    - 6.3 - [Assignment Operator](#assign)
    - 6.4 - [Logical Operator](#logic)
    - 6.5 - [Membership Operator](#member)
    - 6.6 - [Bitwise Operator](#bitwise)
7. **[Python Flow Control](#pfc)**
    - 7.1 - [if - statement](#condition)
    - 7.2 - [while- loop](#while)
    - 7.3 - [for- loop](#for)
8. **[Pseudocode](#pseudo)**

<a id="variables"> </a>
## Python Variables

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Variables are nothing but reserved memory locations to store values. This implies that when you create a variable, you hold some space in the memory.<br>
                        <br>Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [1]:
num = 3
a =- 40.2
b = "yes"
d = True
print('30 is an ',type(num))
print(' a is ',type(a))
print('b is ', type(b))
print(' c is' ,type(d))

30 is an  <class 'int'>
 a is  <class 'float'>
b is  <class 'str'>
 c is <class 'bool'>

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named 'num' and we have assigned value 30 to 'num' variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example âˆ’

In [2]:
# Here, an integer object is created with the value 5, and all three variables are assigned to the same memory location
x = y = z = 5
z

5

You can also assign multiple objects to multiple variables

In [7]:
a,b,c = 5,10.1,"xyz"
print(a)
print(b)
print(c)

5
10.1
xyz

#### Re-assigning a variable

In [ ]:
var1 = 25
var2 = "Arthur"
var2 = var1
var2

25

### Rules and Naming Conventions
<em>
<table align="left">
    <tr>
        <td>
            <div align="left", style="font-size:125%">
                <font color="#21618C">
                    <b>1. Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore(_). For example: <br>
                       <br> &emsp; variable_name<br>
                        &emsp; VARIABLE_NAME<br>
                        &emsp; varName<br>
                        &emsp; VariableName<br>
                    </b>
                    <b><br>2. Create a name that makes sense. For example, variable makes more sense than v  <br>               
                    </b>
                    <b><br>3. If you want to create a variable name having two words, use underscore to separate them<br>
                    </b>
                    <b><br>4. Never use special symbols like !, @, #, $, %, etc.<br>
                    </b>
                    <b><br>5. Do not start a variable name with a digit<br>
                    </b>
                    <b><br>6. Reserved words (built-in keywords) cannot be used as variable names.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

</em>

<a id = "type"></a>
## Data Types

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:<br><br>
                        1. Numbers<br>
                        2. Strings<br>
                        3. Boolean<br>
                        4. Lists<br>
                        5. Tuples<br>
                        6. Dictionaries <br>
                        7. Sets
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<a id="num"> </a>
### Python Numbers
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [ ]:
a = -5
type(a)

int

In [ ]:
x = 1000
type(a)

int

#### float

In [ ]:
a = 1.1
type(a)

float

In [ ]:
x = -3.14
type(x)

float

In [ ]:
y = 1.626e16
type(y)

float

#### long

In [8]:
x =999999999999999999999999999999999999999999999
type(x)

int

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>This construct does not exist in Python 3.x.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### complex

In [ ]:
x = 3+4j
type(x)

complex

In [ ]:
y = 3e+4j
type(y)

complex

<a id="str"> </a>
### Python Strings

A string is a sequence of characters. Python does not have a <em>char</em> data type, unlike C++ or Java. You can delimit a string using single quotes('string') or double-quotes("string").

In [9]:
string = "Introduction to Python"
string

'Introduction to Python'

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [10]:
str1 = "Hire"
str2 = "Price"
str3 = str1+str2
str3                      # Prints concatenated string

'HirePrice'

In [11]:
str3*3                    # Prints string three times

'HirePriceHirePriceHirePrice'

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>You cannot use the minus(-) operator and the division(/) operator on strings.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [16]:
string = "Introduction to Python"
string[1]                 # Prints sixth character of the string

'n'

You can also display a burst of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [ ]:
string[13:22]             # Prints characters starting from 14th to 21st character

'to Python'

Strings are <em>immutable</em>. The following line of code will generate an error

In [ ]:
string[0] = 'P'

TypeError: 'str' object does not support item assignment

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**. It is often a result of some conditions

In [ ]:
var = True
type(var)

bool

In [ ]:
print(10 > 9)

True

In [ ]:
print(10 == 9)

False

In [ ]:
print(10 < 9)

False

<a id="typecon"> </a>
## Type Conversion
Since Python is dynamically-typed, you may want to convert a value into another type. Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [ ]:
float(11)

11.0

You can turn a Boolean into an float.

In [ ]:
float (True)

1.0

In [ ]:
float(False)

0.0

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

In [ ]:
float("abc")

ValueError: could not convert string to float: 'abc'

In [17]:
float("11")

11.0

In [23]:
1e-2 # 10^(-2)

0.01

In [28]:
2.24e-3

0.00224

In [ ]:
#You can also use â€˜eâ€™ to denote an exponential number

float("2.24e-2")           #this number works even without the float() function

0.0224

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [ ]:
int(11.7)

11

In [ ]:
int(-11.7)

-11

 You can also turn a Boolean into an int.

In [ ]:
int(True)

1

In [ ]:
int(False)

0

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [ ]:
int("GL")

ValueError: invalid literal for int() with base 10: 'GL'

In [ ]:
int("11")

11

#### str()
<em>str()</em> converts the value into a string.

In [ ]:
str(2.24)

'2.24'

In [ ]:
str(True)

'True'

In [ ]:
str(False)

'False'

In [ ]:
str(10)

'10'

<a id="print"> </a>
## Python print()

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Syntax:<br>
                        <br><em> print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)</em>
                    </b>
                    <b><br><br><br><br>print() Parameters:<br>
                    <br>*objects - object to be printed. * indicates that there may be more than one object<br>
<br>sep - objects are separated by sep. Default value: ' '<br>
<br>end - end is printed at last<br>
<br>file - must be an object with write(string) method. If omitted it, sys.stdout will be used which prints objects on the screen.<br>
<br>flush - If True, the stream is forcibly flushed. Default value: False<br><br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
print("Hello World")

Hello World

In [ ]:
# initialize a variable
x = 2
print("x =", x)              # Here we pass two objects

x = 2

Only object parameter is passed in the above print() function.

#### print() with separator and end parameters
By default, python's print() function ends with a newline. This function comes with a parameter called 'end.' The default value of this parameter is '\n,' i.e., the new line character. You can end a print statement with any character or string using this parameter.<br>
Sometimes you need to print one blank line in your Python program.

In [ ]:
x = 2
a = 8
print("x =", x, end='\n\n\n')
print("a =", 8, end = 'j')

x = 2


a = 8j

Objects will be separated with what the <em>sep</em> parameter is set to.

In [ ]:
x = 2
a = 8
print("x =", x, sep='$$')
print("a =", 8, sep = 'j')

x =$$2
a =j8

<a id="uinput"> </a>
## User Input


<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Most programs today use a dialog box as a way of asking the user to provide some type of input.<br>
                        <br>There are two functions in Python that you can use to read data from the user:
                        <br>1.raw_input()
                        <br>2.input() <br>
                        <br>You can store the results from them into a variable.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>raw_input() is deprecated in Python 3. Here we will discuss about the <em>input()</em> function.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data as string. Basically, when we enter digit value, input() in python 3 stores it as string value. So to convert string value to integer value, we will use int() function just as shown below.

In [ ]:
age = int(input("Please enter your age: "))
print(age)
type(age)

Please enter your age: 24
24

int

In [ ]:
name = input("Please enter your name: ")
print(name)
type(name)

Please enter your name: Mike
Mike

str

When <em>input()</em> function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. If you enter an integer value still input() function convert it into a string. You need to explicitly convert it into an integer in your code using typecasting.

<a id="oper"> </a>
## Python Operators


<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.<br>
                        <br>Python Operator falls into following categories:
                        <br>1. Arithmetic Operator
                        <br>2. Comparison Operator
                        <br>3. Assignment Operator
                        <br>4. Logical Operator
                        <br>5. Membership Operator
                        <br>6. Bitwise Operator
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [ ]:
a = 12
b = 2
# '+' Operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' Operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' Operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' Operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' Operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' Operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b 

# '**' Operator
print('a ** b =',a**b)                # Prints the result of a to the power b

a + b = 14
a - b = 10
a * b = 24
a % b = 0
a / b = 6.0
a // b = 6
a ** b = 144

<a id="comp"> </a>
### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [ ]:
a = 10
b = 20

# '>' Operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' Operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' Operator
print('a == b  is',a==b)                 # Prints False since a and b are not equal

# '!=' Operator
print('a != b  is',a!=b)                 # Prints True since a is not equal to b

# '>=' Operator
print('a >= b  is',a>=b)                 # Prints False since a is not smaller nor equal to b

# '<= y' Operator
print('a <= b  is',a<=b)                 # Prints True since a is smaller than b

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

In [ ]:
# '=' Operator
x = 5                                 # Assigns the value to the variable on the left
print("x = ", x)

# '+=' Operator                 
x += 5  # x=x+5 
print("Updated value of x after (x += 5) is", x)     # Adds the values on either side and assigns it to the expression on the left. x+=5 is the same as x=x+5.

# '-=' Operator
x -=2
print("Updated value of x after (x -=2) is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10).

# '*=' Operator
x *= 2
print("Updated value of x after (x *= 2) is", x)     # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' Operator
x /= 4 
print('Updated value of x after (x /= 2) is', x)     # Divides the current value of x with 4 and assigns the result to the same variable

x =  5
Updated value of x after (x += 5) is 10
Updated value of x after (x -=2) is 8
Updated value of x after (x *= 2) is 16
Updated value of x after (x /= 2) is 4.0

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

<a id="logic"> </a>
### Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator â€“ **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [ ]:
x = 11
a = x>10 and x<20
print(a)

True

Here both the conditions are satisfied. Therefore we have True as the output.

In [ ]:
x = 11
a = x>10 and x==12
print(a)

False

Here one of the condition is not satisfied. Therefore we have False as the output.

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [ ]:
x = 11
a = x>10 or x==20
print(a)

True

Here one of the condition is satisfied. Therefore we have True as the output.

In [ ]:
x = 11
a = x>12 or x==20
print(a)

False

None of the above condition is True. Therefore we have False as the output

#### 'not' Operator
It converts True to False, and False to True. So, basically, <em>not</em> inverts the Boolean value of an expression

In [ ]:
x = 11
a = x>12 or x==20
print(not a)

True

Since both the conditions are false in the above code, False is stored in <em>a</em> and finally the not operator inverts False to True

<a id="member"> </a>
### Membership Operator

Membership operators tests whether a value is a member of a sequence. The sequence may be a list, a string, a tuple, or a dictionary. <br>
<br><em>in</em> and <em>not in</em> are the membership operators in Python. The output is in terms of True or False.

In [ ]:
# String
a = 'Great Learning'

# Output: True
print('L' in a)

# Output: False
print('O' in a)

True
False

<a id="bitwise"> </a>
### Bitwise Operator

These operators perform bit by bit operations on the operands.

In [ ]:
a = 10
b = 7

# Bitwise and(&) operator
print(a & b)              # binary for 10 is 1010 and binary for 7 is 111. If we & each bit we get 0010. which is 2

# Bitwise or(|) operator
print(a | b)              # binary for 10 is 1010 and binary for 7 is 111. If we | each bit we get 1111, which is 15

# Bitwise xor(^) operator
print(a^b)                # binary for 10 is 1010 and binary for 7 is 111. If we ~ each bit we get 1101, which is 13

# Bitwise Oneâ€™s Complement(~) operator. Python One's complement of a number â€˜Aâ€™ is equal to -(A+1)
print(~a)                 # binary for 10 is 1010. One's complement for 1010 is -(1010+1) --> -(1011), which is -11

# Bitwise left shift(<<) operator 
print(a<<2)               # binary for 10 is 1010 and <<2 will convert 1010 to 101000 which is 40

# Bitwise left shift(<<) operator 
print(a>>2)               # binary for 10 is 1010 and >>2 will convert 1010 to 10 which is 2

2
15
13
-11
40
2

<a id="pfc"> </a>
## Python flow control
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>A programâ€™s control flow is the order in which the programâ€™s code executes. The control flow of a Python program is regulated by: <br>
                        <br>1. Conditional Statements
                        <br>2. Loops, and 
                        <br>3. Function Calls
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<td width="15%">
            <img src="control.png">
</td>

The **selection** structure tests a condition, then executes one sequence of statements instead of another, depending on whether the condition is true or false. A condition is any variable or expression that returns a BOOLEAN value (TRUE or FALSE).<br><br>
The **iteration** structure executes a sequence of statements repeatedly as long as a condition holds true.<br><br>
The **sequence** structure simply executes a sequence of statements in the order in which they occur.<br><br>

<a id="condition"> </a>
### The if- statement
You might want to execute some statements only if some condition holds, or choose statements to execute depending on several mutually exclusive conditions. The Python compound statement if, which uses if, elif, and else clauses, lets you conditionally execute blocks of statements.

#### Syntax:
<em>if test_expression1:
<br> &emsp;&emsp;statement(s)</br>
<br>elif test_expression2:
<br>&emsp;&emsp;    statement(s)
<br>elif test_expression3:
<br>&emsp;&emsp;    statement(s)
<br>.
<br>.
<br>.
<br>else:
 <br>&emsp;&emsp;   statement(s)

In [ ]:
x = 5
if x < 0: 
    print ("x is negative")
elif x % 2: 
    print ("x is positive and odd")
else: 
    print ("x is even and non-negative")

x is positive and odd

<a id="while"> </a>
### The while- Loop
A while loop is a control flow statement that allows code to be executed repeatedly based on a given Boolean condition. The while loop can be thought of as a repeating if statement.

#### Syntax:
<em>while test_expression:
<br> &emsp;&emsp;statement(s)
</em>
<br><br>First, test_expression, which is known as the loop condition, is evaluated. If the condition is false, the while statement ends. If the loop condition is satisfied, the statement or statements that comprise the loop body are executed. When the loop body finishes executing, the loop condition is evaluated again, to see if another iteration should be performed. This process continues until the loop condition is false, at which point the while statement ends.

In [ ]:
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

<a id="for"> </a>
### The for- Loop
The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

#### Syntax:
<em>for iterator in sequence:
<br> &emsp;&emsp;statement(s)
</em>

In [ ]:
string = "I love Python "
for i in string:
    print(i)

I

l
o
v
e

P
y
t
h
o
n

#### The range() function

We can generate a sequence of numbers using <em>range()</em> function. <em>range(10)</em> will generate numbers from 0 to 9 (10 numbers). We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided. 
<br><br>
This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.<br>

In [ ]:
range(0, 10)

range(0, 10)

We can use the <em>range()</em> function in for loops to iterate through a sequence of numbers. It can be combined with the <em>len()</em> function to iterate though a sequence using indexing.

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
string = "Python Programming"

# iterate over the string using index
for i in range(len(string)):
    print(string[i])

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

<a id="pseudo"> </a>
## Pseudocode
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Before you write a piece of computer code, you have to know what the program is supposed to do. It is a good idea to write it in a simple way first to ensure you have included everything you need. The best way to set this up is by using pseudocode. <br>
                    <br><br>Pseudocode is a simple way of writing programming code in English. It is not actual programming language. It uses short phrases to write code for programs before you actually create it in a specific language. Once you know what the program is about and how it will function, then you can use pseudocode to create statements to achieve the required results for your program.<br>
                        
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Pseudocode to create a program to add 2 numbers together and display the result.<br>**
<em>
<br>Read two numbers, A, B from user 
<br>Add the numbers in variable A and B
<br>Print Sum<br>
</em>

Pseudocode can be written how you want. But some companies use specific pseudocode rules to keep everyone in the company on the same page.

**Pseudocode to create a program to check if a student has cleared the exam or not.<br>**
<em>
<br>Take students grade from the user 
<br>If student's grade is greater than or equal to 60, print "pass"
<br>Otherwise print "fail"<br>
</em>

**Pseudocode to create a program to print the average marks of ten students**

<em>
<br>Set total to zero 
<br>Set grade counter to one
<br>While grade counter is less than or equal to ten
<br>&emsp;&emsp;Input the next grade
<br>&emsp;&emsp;Add the grade into the total
<br>Set the class average to the total divided by ten
<br>Print the class average.


</em>