# Pandas

- Simple yet powerful and expressive Tool
- a) Open source Library 
- b) Data maupulation and analysis

## Applications of Pandas

- Statistice 
- Analytics
- Data Science 
- Big Data
- Natural Language Processing
- Recoomandation Engine 
- Stock Prdiction ( Time sereis Analysis)

### Pandas Vs Numpy

- Numpy has Low-level data structure (np.array)
- Supports for large and multidimensional array
- A wide range of Mathematical array operations 


- Pandas have high level data structure (data Frame)
- It provides in-memory 2d table object called data frame 
- More stremlined handling of tabular data and rich time series functionality 
- Data aligenment,handling missing value , groupby ,merge and join methos

In [1]:
#! pip install pandas

In [2]:
import pandas as pd

# Components of pandas

- Series ( One dimensional) and dataframe are two primary components of pandas
- Series is typically a column, and data frame is multidimensional table made up of group of series 
- multidimensional data - Dataframe / panel Data

#### Series can be constructed using the following constructor

- pandas.series(data,index,dtype,copy)   copy is for copy the data / dtype is for data type / index is for uniqueness

In [3]:
series_list= pd.Series([1,2,3,4,5,6])  # usinf list
series_list

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
import numpy as np
series_np=pd.Series(np.array([10,20,30,40,50,60]))
series_np

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int32

In [5]:
series_index = pd.Series(np.array([11,12,13,14,15,16]),index=np.arange(0,12,2))
series_index

0     11
2     12
4     13
6     14
8     15
10    16
dtype: int32

In [6]:
series_index = pd.Series(np.array([11,12,13,14,15,16]),index=['a','b','c','d','e','f'])
series_index

a    11
b    12
c    13
d    14
e    15
f    16
dtype: int32

# Creat Series uisng python dictonary

In [7]:
my_dict = {'a':1,'b':2,'c':3}
series_dict=pd.Series(my_dict)
series_dict  # Key becomes row index

a    1
b    2
c    3
dtype: int64

In [8]:
my_dict = {'a':[1,2,3],'b':[4,5],'c':6,'d':"Hello World"}
series_dict=pd.Series(my_dict)
series_dict  # Key becomes row index

a      [1, 2, 3]
b         [4, 5]
c              6
d    Hello World
dtype: object

# Slicing Sereis

In [9]:
my_array = np.array(['a','b','c','d','e','f','g','h','i','j'])
my_ser= pd.Series(my_array)
print(my_ser[:5])

0    a
1    b
2    c
3    d
4    e
dtype: object

In [10]:
print(my_ser[-5:]) # Retrive last five elements

5    f
6    g
7    h
8    i
9    j
dtype: object

In [11]:
# Access element using index
series_index = pd.Series(np.array([11,12,13,14,15,16]),index=['a','b','c','d','e','f'])
series_index['c']

13

In [12]:
series_index[['a','c','e']] # Retriving multiple elements

a    11
c    13
e    15
dtype: int32

In [13]:
# Filter the values
ser= pd.Series(np.array([11,12,13,14,15,16]))
ser[ser>13]

3    14
4    15
5    16
dtype: int32

In [14]:
ser*2

0    22
1    24
2    26
3    28
4    30
5    32
dtype: int32

In [15]:
s1= pd.Series([1,2,3])
s2= pd.Series([4,5,6])
s1+s2

0    5
1    7
2    9
dtype: int64

In [16]:
# Ranking the series 
s= pd.Series([23,45,67,2,3,56,100])  # 2,3,23,45,56,67,100-->Rank[1,2,3,4,5,6,7]
s.rank()

0    3.0
1    4.0
2    6.0
3    1.0
4    2.0
5    5.0
6    7.0
dtype: float64

In [17]:
np.nan # NAN----> Not a Number

nan

In [18]:
# Sorting the series 
s= pd.Series([23,45,67,2,3,56,100])
s.sort_values(ascending =False)

6    100
2     67
5     56
1     45
0     23
4      3
3      2
dtype: int64

In [19]:
s = pd.Series([1,2,'a',np.nan,9])
s.isnull()

0    False
1    False
2    False
3     True
4    False
dtype: bool

# pandas DataFrame

- A dataFrame is two dimensional data structure --Data is alinged in tabular manner ( rows and columns)

### Features of dataframe
- Potentially columns are of duifferent types 
- Size- Mutable 
- Labeled axes ( Rows/ Columns)
- can perform Aruthemetic opertations on rows and columns

In [20]:
df = pd.read_csv('Supermarket.csv')
print(df)
print(type(df))

          Day Store  Percentage
0      Monday     A          79
1      Monday     B          81
2      Monday     C          74
3      Monday     D          77
4      Monday     E          66
5     Tuesday     A          78
6     Tuesday     B          86
7     Tuesday     C          89
8     Tuesday     D          97
9     Tuesday     E          86
10  Wednesday     A          81
11  Wednesday     B          87
12  Wednesday     C          84
13  Wednesday     D          94
14  Wednesday     E          82
15   Thursday     A          80
16   Thursday     B          83
17   Thursday     C          81
18   Thursday     D          88
19   Thursday     E          83
20     Friday     A          70
21     Friday     B          74
22     Friday     C          77
23     Friday     D          89
24     Friday     E          68
<class 'pandas.core.frame.DataFrame'>

In [22]:
df_market = pd.read_excel('Supermarket.xlsx')
print(df_market)

          Day Store  Percentage
0      Monday     A          79
1      Monday     B          81
2      Monday     C          74
3      Monday     D          77
4      Monday     E          66
5     Tuesday     A          78
6     Tuesday     B          86
7     Tuesday     C          89
8     Tuesday     D          97
9     Tuesday     E          86
10  Wednesday     A          81
11  Wednesday     B          87
12  Wednesday     C          84
13  Wednesday     D          94
14  Wednesday     E          82
15   Thursday     A          80
16   Thursday     B          83
17   Thursday     C          81
18   Thursday     D          88
19   Thursday     E          83
20     Friday     A          70
21     Friday     B          74
22     Friday     C          77
23     Friday     D          89
24     Friday     E          68

In [24]:
student_df = pd.read_csv('student.txt',sep = '\t')
print(student_df)

    student_id student_name subject Batch_time
0   1            ABC        DS      7pm to 9pm
1   2            PQR        EM      6pm to 8pm
2   3            LMN        DS      7pm to 9pm

In [ ]:
# pandas can read json xml html file also
#df= pd.read_jason()

In [34]:
df = pd.read_csv('Supermarket.csv')
df.head()

      Day Store  Percentage
0  Monday     A          79
1  Monday     B          81
2  Monday     C          74
3  Monday     D          77
4  Monday     E          66

In [35]:
df.tail(2)

       Day Store  Percentage
23  Friday     D          89
24  Friday     E          68

In [36]:
# How many rows and How many columns

df.shape  # 25 Rows ( Observations) 3 columns9(variables,features,descriptors,fields)

(25, 3)

In [38]:
df.shape[0]  # 0 for rows How many rows

25

In [40]:
df.shape[1]  # 1 for columns How many columns

3

In [41]:
df.dtypes

Day           object
Store         object
Percentage     int64
dtype: object

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Day         25 non-null     object
 1   Store       25 non-null     object
 2   Percentage  25 non-null     int64
dtypes: int64(1), object(2)
memory usage: 728.0+ bytes

In [48]:
my_list=[['a','b','c','d'],[1,2,3,4]]
df= pd.DataFrame(my_list,columns=['X','Y','Z','T'])
print(df)

   X  Y  Z  T
0  a  b  c  d
1  1  2  3  4